*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font: 13px Arial, Helvetica, sans-serif;

}

.db_global_nav{
    height: 28px;
    min-width: 1024px;
    background-color: black;
    font: 12px Helvetica,Arial,sans-serif;
    line-height: 1.62;
    font-size: 16px;
}

.db_global_nav .top_nav_left{
    float:left;
    width: 700px;
    margin: 0 0 0 12px;
}

.db_global_nav .top_nav_left a{
    display: inline-block;
    margin:0;
    padding: 0 12px;
    height: 28px;
    color: white;
    line-height: 28px;
}

.db_global_nav .top_nav_right {
    float: right;
    margin: 0 12px 0 0;
}

.db_global_nav .top_nav_right a{
    display: inline-block;
    float: left;
    margin:0;
    padding: 0 12px;
    height: 28px;
    line-height: 28px;
    color: white;
    vertical-align: middle;
}

.db_global_nav .top_nav_right .account-box{
    display: none;
    position: relative;
}

.db_global_nav .top_nav_right .account-box .table-box{
    position: absolute;
    z-index: 1;
    right: 30px;
    width: 150px;
    display: block;
    padding: 10px 0;
    border: 1px solid #e6e6e6;
    background: #fff;
    opacity: 0.5;
    white-space: nowrap;
    top: 28px;
    display: none;
}

.db_global_nav .top_nav_right .account-box .table-box tbody{
    display: table-row-group;
    vertical-align: middle;
}

.db_global_nav .top_nav_right .account-box .table-box tr{
    display: table-row;
    vertical-align: inherit;
}

.db_global_nav .top_nav_right .account-box .table-box td{
    font-size: 14px;
}

.db_global_nav .top_nav_right .account-box .table-box a{
    color: black;
    display: block;
    padding: 0 20px;
    line-height: 28px;
}

.db_global_nav .top_nav_right .account-box .table-box .account-table{
    width: 100%;
    white-space: nowrap;
    border-collapse: collapse;
}

.nav-sns{
    position: relative;
    zoom: 1;
    background: #ff6700;
    width: 100%;
    height: 80px;
    min-width: 1024px;
    overflow: hidden;
    margin-bottom: 50px;
}

.nav-sns .logo a img{
	width: 100px;
    height: 68px;
    vertical-align: middle;
}

.wrapper{
    width: 1024px;
    margin: 0 auto;
}

.wrapper .content{
    word-wrap: break-word;
    min-height: 700px;
    position: relative;
}

.wrapper .content .left-content{
    padding-right: 10px;
    position: absolute;
}

.wrapper .content .left-content .db-usr-profile{
    position: relative;
    height: 48px;
    width: 100%;
    position: relative;
    margin-bottom: 2em;
}

.wrapper .content .left-content .db-usr-profile .file_upload_button{
    margin-right: 20px;
}

.wrapper .content .left-content .db-usr-profile .pic-box{
    float: left;
    margin-bottom: 18px;
    margin-right: 12px;
    position: relative;
    width: 48px;
    height: 48px;
}

.wrapper .content .left-content .db-usr-profile .pic-box .my-profile{
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    background-size: 100%;
}

.wrapper .content .left-content .db-usr-profile .user-name-box{
    float: none;
    display: inline-block;
}

.wrapper .content .left-content .db-usr-profile .user-name-box h1{
    font-size: 26px;
}

.wrapper .content .left-content .user-infor-box{
    width: 650px;
    height: 500px;
    border-right: 1px dashed rgba(82,45,128,1);
    line-height: 30px;
}

.wrapper .content .left-content .user-infor-box .item{
    margin: 30px 0;
    clear: both;
    height: 50px;
    font-size: 20px;
}

.wrapper .content .left-content .user-infor-box label{
    text-align: center;
    display: inline-block;
    float: left;
    margin-right: 15px;
    width: 100px;
    font-size: 18px;
    line-height: 40px;
    vertical-align: middle;
    font-weight: bold;
}

.wrapper .content .left-content .user-infor-box .permanent{
    display: inline-block;
    /*width: 250px;*/
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
}

.wrapper .content .left-content .user-infor-box .item .basic-input{
    width: 200px;
    padding: 5px;
    height: 28px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid black;
    display: none;
}
/* 
.wrapper .content .left-content .user-infor-box .item .my-button,
.db-usr-profile .file_upload_button{
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 20px;
    background-color: #3fa156;
    color: #ffffff;
    border-radius: 5px;
    margin-left: 10px;
    display: none;
    border: none;
    outline: none;
} */

.wrapper .content .left-content .user-infor-box .item a{
    margin-left: 10px;
    display: inline-block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    color: rgba(82,45,128,1);
}

.history-record{
    position: absolute;
    left: 662px;

}

.choices {
    line-height: 60px;
    margin-top: 40px;
}

.choices a {
    color: black;
    font-size: 26px;
}

.choices :hover{
    color: #ff6700;
}
